.body {
            font-family: Arial, sans-serif;
    }

    h1 {
        text-align:left;
    }

    .table-container {
        width: 100%;
        height: 318px; /* Adjust as needed */
        overflow: auto;
        position: relative;
        border: 1;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead, tfoot {
        position: sticky;
        left: 0;
        z-index: 2;
    }

    thead th {
        top: 0;
        position: sticky;
        z-index: 3;
        background-color: azure;
        color: black;
    }

    tfoot td {
        bottom: 0;
        position: sticky;
        z-index: 3;
        background-color: azure;
    }

    thead th, tfoot td, tbody td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    tbody tr:nth-child(even) {
        background-color: whitesmoke;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 5px;
    }

    .footer-container .button-container {
        display: flex;
        gap: 10px;
    }

    .footer-container .button-container .right {
        margin-left: auto;
    }